* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(86, 75, 119, 0.288) (229, 232, 238);
  }

  .header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #2a607c;
    color: #2b1414;
  }

<!--applied styles to header-->
    header {
        padding: 20px 25px;
        background-color: #36a6ae;
        display:flex-inline;
        justify-content: space-between;
        flex-wrap: wrap;
       
      }
    
    header h1 {
        font-weight: bold;
        font-size: 36px;
        justify-content: center;
        color:black;
        margin: 10;
      }
    
    header nav {
        margin: 4px 0;
      }
    
    header nav ul {
      display: flex-inline;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      }
    
    header nav ul li a {
        margin: 0 30px;
        font-size: 1.2vw;
        color:black;
        padding-bottom: 2px;
      }
      
    section {
        padding :15px;
    }
  
    .hero{
        height: 400px;
        background-image: url("../images/galaxy.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      
      
    .nahianpic {
        top: 30px;
        left: 30px;
        height:350px;
        width: 225px;
      }

    .horiseonpage {
        top: 30px;
        left: 30px;
        height:900px;
        width: 725px;


    }

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 35px;  
    width: 80%;
    align-items: center;
  }
  

  .section-title {
    display: inline;
    font-size: 30px;
    font-family:Georgia;
    color:purple;
    margin: 0 0 0 80px;
    width: 50%;
  }

  

  .contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    margin-left: 15px;
    }
  
 .contact-info ul li a {
      margin: 0 30px;
      font-size: 18px;
      color:cornflowerblue;
      text-decoration: none;
      border-bottom: 4px solid;
      padding-bottom: 4px;
    }

    @media screen and (max-width: 800px) {
        header {
          padding-bottom: 10px;
          justify-content: center;
          position:relative;
        }
    }

    header h1 {
        width: 80%;
        text-align: center;
      }

      header nav ul {
        margin-top: 35px;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    
      }

      header nav ul li a {
        font-size: 13px;
        
    }
  
      .hero{
        background-size: cover;
      }

      .nahianpic {
        height:200px; 
        width:150px;
      }

      .section-title {
        width: 80%;
        text-align: right;
        }

     .contact-info ul {     
            width: 80%;
            justify-content: left;
            flex-direction: column;      
        }
          
      .contact-info ul li a {
              font-size: 18px;
              flex-direction:column;
               
              
        }

    

      

  

  

  
  
 